<input type="button" value="הוצאות"><br>
<input type="text" placeholder="לפי שנה"><br>
<input type="text" placeholder="לפי חדש"><br>
<input type="button" value="בין טווח תאריכים"><br>
<input type="date">
<input type="date"><br>
<input type="button" value="הכנסות">
<input type="text" placeholder="לפי שנה"><br>
<input type="text" placeholder="לפי חדש"><br>
<input type="button" value="בין טווח תאריכים"><br>
<input type="date">
<input type="date">
<!-- <select [value]="לפי לקוח" (click)="getAllCustomers()">
    <option></option>
</select> -->
